<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
</head>

<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Student Registration</h2>
        <div>
            <label for="">Name:</label>
            <input type="text" name="name">
        </div>

        <div>
            <label for="">Age:</label>
            <input type="text" name="age">
        </div>

        <div>
            <label for="">Mobile No: </label>
            <input type="text" name="mobileNo">
        </div>
        <div>
            <label for="">DOB:</label>
            <input type="date" name="dob">
        </div>
        <div>
            <label for="">Upload Photo:</label>
            <input type="file" name="pic">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>

</html>